---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const skills = {
  'languages': ['JavaScript', 'TypeScript', 'Python', 'C++', 'C', 'Java', 'HTML', 'CSS'],
  'frameworks': ['React', 'Vue', 'TailwindCSS', 'NodeJS', 'Express', 'SCSS', 'Astro'],
  'tools': ['Figma', 'Jira', 'Git', 'GitHub', 'Confluence', 'Docker', 'Firebase']
}
---

<Layout title="Home | Darianlmj"> 
	<main>
    <!-- <div class="flexy-box">
      <div class="flex-content">
        <h3>Hi there! My name is</h3>
        <h1 class="">Darian Lee</h1>
      </div>
    </div>
    <p class="description">
      I enjoy experimenting and developing with new frontend technologies.
    </p> -->
    <div class="interactive-bar">
      <h3 class="introduction">Hi there! My name is</h3>
      <h1 class="introduction">Darian Lee</h1>
      <p class="description">
        I'm an aspiring software engineer based in Sydney, Australia. I enjoy experimenting with new frontend technologies and hope to have the opportunity to contribute to exciting projects in the future as a frontend engineer. <span class="blinking-cursor">|</span>
      </p>
    </div>
    <div class="flexy-box">
      <div class="flex-content">
        {
          
        }
      </div>
      <div class="flex-content centered-box">  
        <h2>Tech Stack</h2>
        <p>Here are some of the technologies that I've worked with.</p>
        <div class='tech-stack'>
          <p class="tech">Languages</p>
          <p class="tech">Frameworks</p>
          <p class="tech">Tools</p>
        </div>
      </div>
    </div>
    <div class="flex-content centered-box"> 
      <h2>Projects</h2>
      <p>Here's some of the things that I've contributed and worked on in the past.</p>
      <div class="card-list">
        <Card 
          href="https://jobsboard.staging.csesoc.unsw.edu.au/"
				  title="CSESoc Jobs Board"
          techStack={['Vue', 'TypeScript', 'Express', 'Swagger', 'Postgres', 'TailwindCSS', 'Docker']}
				  body="A web application where CSE students are able to find jobs."
        />
        <Card 
          href="https://circles.csesoc.app/"
				  title="Circles"
          techStack={['Vue', 'NodeJS', 'Express', 'Swagger', 'Postgres', 'TailwindCSS']}
				  body="A degree planner for UNSW students."
        />
        <Card 
          href="https://darianlmj.dev/"
				  title="Portfolio Website"
          techStack={['React', 'Typescript', 'Astro', 'Stiches']}
				  body="The website you're currently on."
        />
        <Card 
          href="https://cookies-sh.web.app/"
				  title="Cookies.sh"
          techStack={['React', 'Astro', 'Stitches']}
				  body="A web application which aims to teach anybody about the basics in security engineering."
        />
      </div>
    </div>
	</main>
</Layout>

<style lang="css">
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

  h2, h3 {
    margin: 0;
  }

	h1 {
		margin: 0.5rem 0;
    font-weight: 500;
    font-size: var(--font-size-xxl);
	}

  h5 {
    margin: 0;
  }

	main {
		margin: 0 auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
  .flexy-box {
    display: flex;
    flex-direction: row;
    flex: 2;
    padding: 5rem 0 0 0;
  }

  .flex-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 3;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  .centered-box {
    display: flex;
  }

  .interactive-bar {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
    color: #445d6e;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    margin: 0 0 20px;
    padding: 20px 25px;
    /* white-space: pre-wrap; */
  }

  .blinking-cursor {
    /* -webkit-animation: blink .9s infinite; */
    animation: blink .9s infinite;
    color: #6772e5;
    font-size: 22px;
    line-height: 0;
  }

  @keyframes blink {
    0% {
      color: #6772e5;
    }
    49% {
      color: #6772e5;
    }
    50% {
      color: transparent;
    }
    100% {
      color: transparent;
    }
  }

  .introduction {
    color: var(--color-text);
  }

  .description {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: wrap;
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
</style>
