---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Typewriter from "@components/Typewriter.astro";
import { TechStackDisplay } from "@components/TechStackDisplay";
import { TechStackPills } from "@components/TechStackPills";
---

<Layout title="Home | Darianlmj"> 
	<main>
    <div class="interactive-bar">
      <Typewriter
        content="Hey! I'm Darian"
      />
      <h3 class="introduction">a software engineer based in Sydney, Australia.</h3>
      <p>I love experimenting and developing with new exciting frontend technologies.</p>
    </div>
    <div class="flexy-box">
      <div class="flex-content centered-box">  
        <h2>Tech Stack</h2>
        <p>Here are some of the technologies that I've worked with.</p>
        <TechStackPills client:load />
      </div>
      <div class="flex-content centered-box">
        <TechStackDisplay client:load />
      </div>
    </div>
    <div class="flex-content centered-box"> 
      <h2>Projects</h2>
      <p>Here's some of the things that I've contributed and worked on in the past.</p>
      <div class="card-list">
        <Card 
          href="https://jobsboard.staging.csesoc.unsw.edu.au/"
				  title="CSESoc Jobs Board"
          techStack={['Vue', 'TypeScript', 'Express', 'Swagger', 'Postgres', 'TailwindCSS', 'Docker']}
				  body="A web application where CSE students are able to find jobs."
        />
        <Card 
          href="https://circles.csesoc.app/"
				  title="Circles"
          techStack={['Vue', 'NodeJS', 'Express', 'Swagger', 'Postgres', 'TailwindCSS']}
				  body="A degree planner for UNSW students."
        />
        <Card 
          href="https://darianlmj.dev/"
				  title="Portfolio Website"
          techStack={['React', 'Typescript', 'Astro', 'Stiches']}
				  body="The website you're currently on."
        />
        <Card 
          href="https://cookies-sh.web.app/"
				  title="Cookies.sh"
          techStack={['React', 'Astro', 'Stitches']}
				  body="A web application which aims to teach anybody about the basics in security engineering."
        />
      </div>
    </div>
	</main>
</Layout>

<style lang="css">
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

  h2, h3 {
    margin: 0;
  }

  h5 {
    margin: 0;
  }

  p {
    color: var(--color-text-secondary);
  }

	main {
		margin: 0 auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
  .flexy-box {
    display: flex;
    flex-direction: row;
    flex: 2;
    padding: 3rem 0 0 0;
  }

  .flex-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 3;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
  }

  .tech-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    color: var(--color-text-secondary);
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
  }

  .tech-stack > p {
    margin: 0;
    color: var(--color-text);
  }

  .active-tech-pill {
    background: #cadfff;
    color: var(--color-text-secondary);
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 0.15rem solid var(--color-primary);
  }

  .centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .interactive-bar {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    margin: 0 0 20px;
    padding: 20px 25px;
  }

  .introduction {
    color: var(--color-text);
  }
</style>
