---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/Card.astro";
import Typewriter from "@components/Typewriter/Typewriter.astro";
import { TechStackDisplay } from "@components/TechStackDisplay";
import { TechStackPills } from "@components/TechStackPills";

---

<Layout title="Darian Lee"> 
	<main>
    <div class="interactive-bar">
      <Typewriter
        content="Hey! I'm Darian"
      />
      <h2 class="introduction">a software engineer based in Sydney, Australia.</h2>
      <p class="introduction-description">I love experimenting and developing with exciting new frontend technologies.</p>
      <div class="buttonContainer">
        <a href='src/assets/Resume.pdf' download>Resume</a>
        <button onclick="document.getElementById('get-in-touch').scrollIntoView({ behavior: 'smooth' })">Get In Touch</button>
      </div>
    </div>
    <div class="flexy-box flexy-box-small-screen">
      <div class="flex-content centered-box">  
        <h2>Tech Stack</h2>
        <p>Here are some of the technologies that I've worked with.</p>
        <TechStackPills client:load />
      </div>
      <div class="flex-content centered-box">
        <TechStackDisplay client:load />
      </div>
    </div>
    <div class="flex-content centered-box"> 
      <h2 id="projects">Projects</h2>
      <p>Here's some of the things that I've contributed and worked on in the past.</p>
      <div class="card-list">
        <Card 
          href="https://jobsboard.staging.csesoc.unsw.edu.au/"
				  title="CSESoc Jobs Board"
          techStack={['Vue', 'TypeScript', 'Express', 'Swagger', 'Postgres', 'TailwindCSS', 'Docker']}
				  body="A web application where CSE students are able to find jobs."
        />
        <Card 
          href="https://circles.csesoc.app/"
				  title="Circles"
          techStack={['Vue', 'NodeJS', 'Express', 'Swagger', 'Postgres', 'TailwindCSS']}
				  body="A degree planner for UNSW students."
        />
        <Card 
          href="https://darianlmj.dev/"
				  title="Portfolio Website"
          techStack={['React', 'Typescript', 'Astro', 'Stitches']}
				  body="The website you're currently on."
        />
        <Card 
          href="https://cookies-sh.web.app/"
				  title="Cookies.sh"
          techStack={['React', 'TypeScript', 'MUI']}
				  body="A web application which aims to teach anybody about the basics in security engineering."
        />
        <Card 
          href="https://www.unswaseansociety.com/"
				  title="ASEANSoc Website"
          techStack={['React', 'TypeScript', 'NextJS', 'MUI']}
				  body="UNSW ASEANSoc's primary website."
        />
        <Card 
          href="https://github.com/Darianlmj/Asteroids/"
				  title="Asteroids"
          techStack={['C++']}
				  body="A command line program based off the popular arcade game - Asteroids."
        />
      </div>
    </div>
	</main>
</Layout>

<style lang="css">
  .interactive-bar h2 {
    font-size: var(--font-size-md) !important;
  }

  h2 {
    margin: 0;
    opacity: 0.9;
  }

  h5 {
    margin: 0;
  }

  p {
    color: var(--color-text-secondary);
  }

	main {
		margin: 0 auto;
		padding: 1em;
		max-width: 80ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
  .flexy-box {
    display: flex;
    flex-direction: row;
    flex: 2;
    padding: 3rem 0 3rem 0;
  }

  .flex-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 3;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
  }

  .tech-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    color: var(--color-text-secondary);
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
  }

  .tech-stack > p {
    margin: 0;
    color: var(--color-text);
  }

  .active-tech-pill {
    background: #cadfff;
    color: var(--color-text-secondary);
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 0.15rem solid var(--color-primary);
  }

  .centered-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .interactive-bar {
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    margin: 4rem 0 0 0;
  }

  .introduction {
    color: var(--color-text);
  }

  .buttonContainer {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
    margin-top: 1.5rem;
  }

  a {
    text-decoration: none;
  }

  a, button {
    background: var(--color-bg);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--blue-12);
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: bold;
    height: 100%;
  }
  
  button {
    border: 0.15rem solid var(--blue-12);
  }

  @media screen and (max-width: 850px) {
    .buttonContainer {
      flex-direction: column;
      width: 100%;
    }
    .buttonContainer button{
      margin-top: 0.5rem;
    }
  }

  @media screen and (max-width: 380px) {
    .centered-box {
      align-items: center;
    }

    p {
      text-align: center;
    }

    .flexy-box-small-screen {
      flex-direction: column;
    }

    .introduction {
      text-align: center;
    }
  }
</style>
