---
---
<footer>
  <div class="container">
    <div class="col item social">
      <h3 id="get-in-touch">Get In Touch</h3>
      <a href="mailto: darianlmj@gmail.com">
        <i class="icon ion-email" />
      </a>
      <a href="https://github.com/Darianlmj/">
        <i class="icon ion-social-github" />
      </a>
      <a href="https://www.linkedin.com/in/darianlmj/">
        <i class="icon ion-social-linkedin" />
      </a>
    </div>
    <p class="statement">Made with ❤ in 2022</p>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    margin: 3rem auto 0 auto;
		padding: 2rem 0;
    color: #000000;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgb(50 50 93 / 10%);
  }

  footer h3 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 25px;
  }

  .container {
    max-width: 80ch;
  }

  footer .item.text {
    margin-bottom: 36px;
  }

  footer .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
  }

  footer .item.social {
    text-align: center;
  }

  footer .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
    margin: 0 8px;
    color: #000000;
    opacity: 0.75;
  }

  footer .item.social > a:hover {
    opacity: 0.9;
  }

  footer .statement {
    text-align: center;
    color: var(--color-text-secondary);
    font-size: 0.75rem;
    margin: 2rem 0 0.5rem 0;
  }
</style>
